

<div class="container">
    <main class="grid">
        <article>
            <img src="../../assets/Images/beautiful-rain-forest-ang-ka-nature-trail-doi-inthanon-national-park-thailand-36703721.jpg" alt="">
             <div class="text">
             <h3>Card 1</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, exercitationem cumque! Fugiat maiores corrupti et dolor? Minima amet at suscipit assumenda quas alias voluptatibus praesentium neque sint, magni eos beatae?</p>
             <button>Button 1</button>
            </div>
        </article>
        <article>
            <img src="../../assets/Images/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-nature-field-gra-130247647.jpg" alt="">
             <div class="text">
             <h3>Card 2</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, exercitationem cumque! Fugiat maiores corrupti et dolor? Minima amet at suscipit assumenda quas alias voluptatibus praesentium neque sint, magni eos beatae?</p>
             <button>Button 2</button>
            </div>
        </article>
        <article>
            <img src="../../assets/Images/photo-1546587348-d12660c30c50.jfif" alt="">
             <div class="text">
             <h3>Card 3</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, exercitationem cumque! Fugiat maiores corrupti et dolor? Minima amet at suscipit assumenda quas alias voluptatibus praesentium neque sint, magni eos beatae?</p>
             <button>Button 3</button>
            </div>
        </article>
    </main>
</div>
