<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/users" routerLinkActive="active">Users</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/child" routerLinkActive="active">Child</a>
  <a routerLink="/parent" routerLinkActive="active">Parent</a>
  <a routerLink="/animation" routerLinkActive="active">Animation</a>
  <a routerLink="/custom" routerLinkActive="active">Custom</a>
  <a routerLink="/table" routerLinkActive="active">Table</a>
  <a routerLink="/dragDrop" routerLinkActive="active">Drag&Drop</a>
</nav>

<app-content-projection> </app-content-projection>
